<!--
Apply - HTML page for applying to an organization
Copyright (C) 2018 Nikki Florita
This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016
This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with this program. If not, see https://www.gnu.org/licenses/.
**CHANGELOG**
Carl Araya 2/07/18 - Initial creation
Nikki Florita 2/17/18 - Adding layout to Apply page
-->
<!--
File created on: 2/07/18
Developer: Nikki Florita
Client: UP Diliman Department of Computer Science Student Organizations
This software aims to provide a convenient avenue for student organizations to display their org and collect contact information from students interested in joining them.
-->

<h1>New Student</h1>
<h3>Interested to apply to a student organization? Fill out the form below and the organizations will contact you during their application process.</h3>
<br>
<h4>NOTE: All information given will be confidential and will be only seen and used for student organization application process only.</h4>

<div class="container3">
     <%= render 'form', student: @student %>
</div>