<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to CouPon, <%= @user.first_name %></h1>
    <p>
      You have successfully submitted your application form.
    </p>
    <p>
      To confirm, just follow this link: <%= @url %>.
    </p>
    <p>Cheers!</p>
  </body>
</html>
